html {
  background-color: #007aff;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
body {
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
}
